@charset "utf-8";


.open-sans- {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


header img {
    height: 100px;
}

.contenu-logo-entreprise{
    width: 10%;
}
.conteneur-gros-titre{
    
    text-transform: uppercase;
    font-size: 3em;
}

nav {
  display: flex;
  align-items: center;   /* aligne le logo et les li verticalement */
  justify-content: space-between; /* espace entre le logo et le menu */
  padding: 0 20px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px; /* espace entre les liens */
  margin: 0;
  padding: 20px;
}

nav ul li a {
  text-decoration: none;
  color: black; /* ou ta couleur */
  font-weight: bold;
}

.tous-les-produits{
    margin-top: 2%;
    margin-left: 2%;
    text-transform: uppercase;
    font-size: 3em;
}

.container {
  display: flex;
  flex-wrap: wrap; /* retour à la ligne automatique */
  gap: 50px; /* espace entre les blocs */
  margin: 30px;
}

.container div {
  flex: 1 1 calc(22% - 10px); /* 3 images par ligne */
}

.container img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}



.personnalisation{
  margin-top: 30px;
  width: 400px;
}
.theteskeybrothers{
    text-transform: uppercase;
    font-size: 3em;
}
.produit_descriptif{
  display: flex;
}
.photo-illustration{
  width: 35%;
  margin-top: 30px;
  margin-left: 2%;
  margin-right: 5%;
}
.photo-illustration img{
  width: 100%;
}
.descriptif-produit{
  margin-top: 3%;
}
.options-personnalisation{
  margin-top: 30px;
  font-weight: bold;
}

.menu-row {
      display: flex;          /* les éléments s’affichent sur la même ligne */
      gap: 20px;              /* espace entre les menus */
}
.menu-déroulant{
  margin-top: 20px;
}
select{
  border-radius: 8px;
  width: 110px;
}

.prix-quantite{
  margin-top: 200px;
  display: flex;
  gap: 20px;
  flex: 1; /* les deux colonnes prennent la même largeur */
  padding: 15px;
  border-radius: 6px;
}
.prix, .quantite {
  flex: 1; /* les deux colonnes prennent la même largeur */
  border-radius: 6px;
}

.quantite{
  text-align: right;
  margin-right: 4px;
}
button{
  background-color: gray;
  text-align: center;
  color: white;
  width: 400px;
  height:50px;
  margin-top: 30px;
}


